@import './../../scss/variables.scss';

.title-1 {
    font-weight: 100;
    font-family: bungeeHairline;
}

.title-2 {
    position: relative;
    top: -50px;
    right: -75px;
    font-weight: 100;
    font-size: 2.5rem;
    font-family: yesteryear;
    transform: rotate(-8deg);
}

.neon {
    text-shadow:
        0 0 8px $white,
        0 0 24px $white,
        0 0 32px $yellow-1,
        0 0 40px $yellow-1;
}

.neon-broken {
    animation: flicker 3s infinite alternate;
}

.thicc {
    font-weight: 700;
}

@media only screen and (max-width: 1000px) {
    .title-2 {
        top: -35px;
        right: -15px;
    }
}