.bg-image {
    left: -20px;
    top: -20px;
    width: 120%;
    height: 120%;
    z-index: -1;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(20px);
}

.circle-help {
    position: absolute;
    top: 10px;
    right: 10px;
}