@import './scss/fonts.scss';
@import './scss/button.scss';
@import './scss/animations.scss';
@import './scss/responsive.scss';
@import './scss/cursor.scss';
@import './scss/theme.scss';

// Components
@import './components/main.scss';
@import './components/logo/logo.scss';

.o-50 {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
