button.btn.btn-custom {
    background-color: rgba(34, 34, 34, 0);
    border: none;
    color: rgb(51, 49, 98);
    border-radius: 0;
    position: absolute;
    right: 0;
  
    &:hover {
      color: #fff;
    }
  
    &:active {
      background-color: transparent;
    }
  }
  
  button.btn.btn-link {
    color: #222
  }