
@media screen and (max-width: 640px) {
    .container {
      padding: 1rem;
      margin: 0 !important;
      min-width: auto !important;
      height: auto !important;
  
      &.opaque {
        background-color: rgba(34, 34, 34, 0);
      }
    }
  }