@import './variables.scss';

body {
    background: $background-color;
    color: $text-color;
}

.default-color {
    color: $text-color;
}



.color-2 {
    background-color: $pink-2;
}

a {
    color: $url-color;

    &:hover {
        color: $url-hover-color;
        transition: color 0.25s ease-in-out;
    }

    &.invert-color {
        color: $url-hover-color;

        &:hover {
            color: $text-color;
            transition: color 0.25s ease-in-out;
        }
    }
}

input.form-control {
    background-color: $almost-black;
    color: $text-color;
    border-color: $almost-black;
    border-bottom-color: $form-border-color;
    border-radius: 0;
    text-align: center;

    &:focus {
        background-color: $almost-black;
        color: $text-color;
    }
}

.opacity-100-hover:hover {
    opacity: 100;
    transition: opacity 0.25s ease-in-out;
}

@media only screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .flex-column-mobile {
      flex-direction: column !important;
    }

    .mobile-px-5 {
        padding: 0 2rem;
    }

    .mobile-w-100 {
        width: 100% !important;
    }

  }