
// Define colors
$almost-black: rgb(2, 0, 36);
$white: #fff;

$pink-1: #e500a0;
$pink-1-light: #e946b8;
$pink-2: #82055d;

$yellow-1: #dbf800;
$yellow-2: #d7bc24;

// Theme colors
$text-color: $white;
$main-color: $pink-1;
$url-color: $pink-1;
$url-hover-color: $pink-1-light;
$background-color: $almost-black;
$form-border-color: $white;
